<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title>List Name</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item fill="solid" color="danger">
      <ion-label position="floating">Items</ion-label>
      <ion-input placeholder="Enter text" type="text"[ (ngModel)]="nameItem"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list-header>
    <ion-label>Chores to to</ion-label>
  </ion-list-header>
  <ion-item >
    <ion-checkbox slot="start" color="danger"></ion-checkbox>
    <ion-label>Themed checkbox</ion-label>
  </ion-item>
  
  
</ion-content>
